.surerheros-container {
    margin: 20px auto;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.HeroCard {
    border: 1px solid rgb(0, 0, 0);
    outline: 1px solid white;
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0);
    border-radius: 30px 0 20px 0;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}
.HeroCard h2 {
    margin: 10px 0px;
}
.superhero-biography {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1px 0px;
    text-align: left;
}
.superhero-biography p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.4rem;
}
.superhero-biography p:first-child{
    font-weight: bold;
    margin-right: 5px;
    text-wrap: nowrap;
}
img {
    width: 95%;
    border-radius: 15px;
    margin: 10px;
}